* {
  box-sizing: border-box;
}

.filter {
  display: none;
}

@media (max-width: 991px) {
  .display {
    display: none;
  }
  .filter {
    display: flex;
    border-color: blue;
    color: blue;
    font-weight: 500;
  }
}

.container-fluid.overflow-hidden{
 
  border-radius: 30px;
  padding: 30px;
  margin: 20px;
}


/* /////////// */

.title {
  text-align: center;
  padding: 20px;
  margin: auto;
}

.btn.btn-primary {
 
  color: white;
}

.buttons-container {
  border-radius: 30px;
  padding: 30px;
  margin: 60px;
  background-color: aliceblue;
}

.buttons-container-title {
  text-align: right;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.button-link {
  height: 100%;
  width: 100%;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
}

.button-link:hover {
  border: 1px solid blue;
  text-decoration: none;
}

.footer-container.p-4 {
  background-image: url("https://souq.car/imgs/footer-bg.jpg");
  height: 400px;
  width: 100%;
}




