* {
  box-sizing: border-box;
}

.filter {
  display: none;
}

@media (max-width: 991px) {
  .display {
    display: none;
  }
  .filter {
    display: flex;
    border-color: blue;
    color: blue;
    font-weight: 500;
  }
}

.container-fluid.overflow-hidden{
  background-color: aliceblue;
  border-radius: 30px;
  padding: 30px;
  margin: 20px;
}



